@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang';
    src: url('/fonts/PingFang.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompactRounded';
    src: url('/fonts/SFCompactRounded.woff');
    font-weight: normal;
    font-style: normal;
}